<% html_title(l(:label_incoming_mail)) %>

<h2><%=l(:label_incoming_mail)%></h2>

<%= render :partial => 'incoming_mails/info', :locals => {:mail => @mail} %>

<p>
  <%=l(:label_raw_mail_content)%>:
</p>
<div class="wiki">
  <pre><%=h @mail.content %></pre>
</div>
